<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <script src="/static/js/signup.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/static/css/signup.css" rel="stylesheet">
</head>
<body>
    <div class="mainButtons">

        <img src="/static/pictures/Welcome_to_Restorapp.png" alt="Welcome to Restorapp">
        <br><br>
        <form action="/signUp" method="get">
            <input type="submit" onclick="location.herf('/signUp')" id="signUpButton" class="mbtns" value="Sign Up"><br>
        </form>
    <br>

        <form action="/logIn" method="get">
            <input type="submit" onclick="location.herf('/logIn')" id="logInButton" class="mbtns" value="Log In">
        </form>
    </div>

</body>
</html>
